[submodule "lava_ui_builder"]
	path = lava_ui_builder
	url = git@github.com:lavaeater/lava_ui_builder.git
	branch = main
[submodule "bevy_wind_waker_shader"]
	path = bevy_wind_waker_shader
	url = git@github.com:lavaeater/bevy_wind_waker_shader.git
[submodule "rusty_music"]
	path = rusty_music
	url = git@github.com:lavaeater/rusty_music.git
[submodule "bevy_mod_inverse_kinematics"]
	path = bevy_mod_inverse_kinematics
	url = git@github.com:lavaeater/bevy_mod_inverse_kinematics.git
