(
    character_folder: "packs/toon-shooter/characters",
    character_index: 2,
    scale: 0.24999996,
    translation_x: 0.0,
    translation_y: -0.2,
    translation_z: 0.0,
    rotation_y_degrees: 180.0,
    anim_mapping: (
        idle: "CharacterArmature|Idle",
        idle_shoot: "CharacterArmature|Idle_Shoot",
        walk: "CharacterArmature|Walk",
        walk_shoot: "",
        run: "",
        run_shoot: "",
        run_gun: "",
        duck: "",
        jump: "",
        jump_idle: "",
        jump_land: "",
        punch: "",
        wave: "",
        yes: "",
        no: "",
        death: "",
        hit_react: "",
        throwing: "Punch",
        building: "CharacterArmature|Duck",
    ),
)