(
  resources: {},
  entities: {
    8589934601: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.7071068,
            y: 0.0,
            z: 0.0,
            w: 0.7071068,
          ),
          scale: (
            x: 0.01,
            y: 0.01,
            z: 0.01,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 2898630342518497260,
          name: "girl_mesh",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::component::AssetMesh": (
          path: "girl/girl-mesh.glb#Mesh0/Primitive0",
        ),
        "space_prefab::component::AssetMaterial": (
          path: "girl/girl-mesh.glb#Material0",
        ),
      },
    ),
    12884901901: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 2898630342518497260,
          name: "girl",
        ),
        "space_prefab::save::ChildrenPrefab": ([
          8589934601,
        ]),
        "space_bevy_xpbd_plugin::collider::ColliderPrefab": Primitive(
          pos: (
            x: 0.0,
            y: 0.65,
            z: 0.0,
          ),
          rot: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          primitive: Capsule(
            height: 1.0,
            radius: 0.2,
          ),
        ),
        "space_bevy_xpbd_plugin::registry::RigidBodyPrefab": Dynamic,
        "bevy_xpbd_3d::components::mass_properties::Mass": (4.477817),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 2.0577765,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 0.3733891,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 2.0577765,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.06576238,
          z: 0.0,
        )),
      },
    ),
  },
)