(
    generated: false,
    seed: 0,
    map_width: 20,
    map_height: 20,
    tiles: [
        [
            2056,
            2056,
            2056,
            8,
            8,
            8,
            8,
            8,
            8,
            260,
            8,
            8,
            8,
            8,
            8,
            1,
            261,
            261,
            261,
            261,
        ],
        [
            2052,
            2052,
            2052,
            8,
            8,
            8,
            8,
            8,
            8,
            260,
            8,
            261,
            261,
            261,
            8,
            1,
            261,
            261,
            261,
            261,
        ],
        [
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            260,
            8,
            261,
            261,
            261,
            8,
            1,
            261,
            261,
            261,
            261,
        ],
        [
            8,
            388,
            260,
            8,
            8,
            8,
            8,
            8,
            8,
            260,
            8,
            8,
            261,
            261,
            8,
            1,
            261,
            261,
            261,
            261,
        ],
        [
            8,
            260,
            260,
            260,
            260,
            260,
            8,
            8,
            8,
            260,
            260,
            8,
            261,
            261,
            8,
            1,
            261,
            261,
            261,
            261,
        ],
        [
            8,
            260,
            260,
            260,
            260,
            260,
            260,
            260,
            260,
            260,
            260,
            8,
            261,
            261,
            8,
            1,
            261,
            261,
            261,
            261,
        ],
        [
            8,
            260,
            260,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            261,
            261,
            8,
            1,
            261,
            261,
            261,
            261,
        ],
        [
            8,
            8,
            8,
            8,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            8,
            1,
            261,
            261,
            261,
            261,
        ],
        [
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            8,
            1,
            261,
            261,
            261,
            261,
        ],
        [
            261,
            8,
            8,
            8,
            8,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            8,
            1,
            261,
            261,
            261,
            261,
        ],
        [
            261,
            8,
            1,
            1,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            1,
            261,
            261,
            261,
            261,
        ],
        [
            261,
            8,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            1,
            1,
            1,
            261,
            261,
            261,
            261,
        ],
        [
            261,
            8,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
            261,
        ],
        [
            261,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
        ],
        [
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
        ],
        [
            8,
            8,
            8,
            8,
            8,
            8,
            1032,
            1032,
            1032,
            1032,
            8,
            8,
            8,
            8,
            8,
            192,
            192,
            192,
            192,
            192,
        ],
        [
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            192,
            8,
            8,
            8,
            8,
        ],
        [
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            192,
            8,
            520,
            520,
            520,
        ],
        [
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            192,
            8,
            520,
            520,
            520,
        ],
        [
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            192,
            8,
            8,
            8,
            8,
        ],
    ],
    decorations: [],
    placements: [],
    waves: [
        (enemy_def: "assets/defs/Alien.ron", count: 5, spawn_rate_per_minute: 10.0),
        (enemy_def: "assets/defs/Bunny.ron", count: 12, spawn_rate_per_minute: 30.0),
        (enemy_def: "assets/defs/Alien.ron", count: 10, spawn_rate_per_minute: 15.0),
        (enemy_def: "assets/defs/Blue Demon.ron", count: 6, spawn_rate_per_minute: 12.0),
        (enemy_def: "assets/defs/Alpaking.ron", count: 8, spawn_rate_per_minute: 16.0),
        (enemy_def: "assets/defs/Demon-LnfIziKv4o.ron", count: 3, spawn_rate_per_minute: 6.0),
    ],
)