(
    generated: false,
    seed: 1779302188494757978,
    map_width: 32,
    map_height: 12,
    tiles: [
        [
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
        ],
        [
            392,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            392,
        ],
        [
            392,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            0,
            0,
            0,
            0,
            0,
            0,
            8,
            8,
            8,
            392,
        ],
        [
            520,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            0,
            0,
            0,
            0,
            0,
            0,
            8,
            8,
            8,
            392,
        ],
        [
            392,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            0,
            0,
            0,
            0,
            0,
            0,
            8,
            8,
            8,
            392,
        ],
        [
            392,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            0,
            0,
            0,
            8,
            8,
            8,
            0,
            0,
            0,
            8,
            8,
            8,
            392,
        ],
        [
            520,
            8,
            8,
            8,
            1032,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            0,
            0,
            0,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            392,
        ],
        [
            392,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            0,
            0,
            0,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            2056,
        ],
        [
            392,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            0,
            0,
            0,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            392,
        ],
        [
            520,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            392,
        ],
        [
            392,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            8,
            392,
        ],
        [
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
            392,
        ],
    ],
    decorations: [],
    placements: [],
    waves: [],
)