(
  resources: {},
  entities: {
    17179869206: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::component::AssetMesh": (
          path: "solarpunk_village.glb#Mesh142/Primitive0",
        ),
        "space_prefab::component::AssetMaterial": (
          path: "solarpunk_village.glb#Material5",
        ),
      },
    ),
    17179869210: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::component::AssetMesh": (
          path: "solarpunk_village.glb#Mesh75/Primitive0",
        ),
        "space_prefab::component::AssetMaterial": (
          path: "solarpunk_village.glb#Material4",
        ),
      },
    ),
    21474836496: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 5004133505663227300,
          name: "Level",
        ),
        "bevy_render::view::visibility::Visibility": Visible,
        "space_prefab::save::ChildrenPrefab": ([
          25769803789,
          38654705683,
          34359738393,
        ]),
      },
    ),
    25769803788: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::component::AssetMesh": (
          path: "solarpunk_village.glb#Mesh78/Primitive0",
        ),
        "space_prefab::component::AssetMaterial": (
          path: "solarpunk_village.glb#Material6",
        ),
      },
    ),
    25769803789: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 5004133505663227300,
          name: "ground",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::save::ChildrenPrefab": ([
          17179869210,
          51539607573,
        ]),
        "space_bevy_xpbd_plugin::collider::ColliderPrefab": Primitive(
          pos: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rot: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          primitive: Cuboid((
            x: 41.6,
            y: 1.0,
            z: 73.5,
          )),
        ),
        "space_bevy_xpbd_plugin::registry::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (162877.11),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 47702520.0,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 71068280.0,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 23392900.0,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    34359738393: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -7.9644837,
            y: -0.106251955,
            z: 18.624643,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 5004133505663227300,
          name: "grass_1",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::save::ChildrenPrefab": ([
          25769803788,
        ]),
      },
    ),
    38654705683: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 5.9818363,
            y: 0.0,
            z: 27.89931,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 5004133505663227300,
          name: "tree_1",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::save::ChildrenPrefab": ([
          17179869206,
          51539607570,
        ]),
      },
    ),
    51539607570: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::component::AssetMesh": (
          path: "solarpunk_village.glb#Mesh143/Primitive0",
        ),
        "space_prefab::component::AssetMaterial": (
          path: "solarpunk_village.glb#Material8",
        ),
      },
    ),
    51539607573: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::component::AssetMesh": (
          path: "solarpunk_village.glb#Mesh76/Primitive0",
        ),
        "space_prefab::component::AssetMaterial": (
          path: "solarpunk_village.glb#Material5",
        ),
      },
    ),
  },
)