(
    model_path: "packs/monsters/Alpaking Evolved.glb",
    scale: 67.27158,
    model_type: Enemy((
        // Boss brute.
        health: 900.0,
        speed: 1.0,
        coin_drop: 40,
        touch_dps: 40.0,
        resistances: { Ballistic: 0.5, Blunt: 0.5 },
        loot_table: Some("crate"),
    )),
    hidden_nodes: [],
    animation_mapping: {},
    animation_sources: [],
)