(
    model_path: "packs/mesh2motion/amy.glb",
    scale: 1.3333334,
    model_type: Player((
        ability: Bombardment,
        throw_rate_per_minute: 60.0,
        weapon: Some("assets/defs/Pistol.ron"),
    )),
    hidden_nodes: [],
    animation_mapping: {},
    clip_tags: {
        "Victory RT": "walk_shoot",
        "Run Anime RT": "run",
        "Jump_Land RT": "jump_land",
        "OverhandThrow RT": "throwing",
        "Jump_Start RT": "jump_idle",
        "Pistol_Idle_Loop RT": "run_gun",
        "Idle_Loop RT": "idle",
        "Jump_Loop RT": "jump",
        "Interact RT": "building",
        "Death01 RT": "death",
        "Hit_Chest RT": "hitreact",
        "Yes RT": "yes",
        "Greeting RT": "wave",
        "Melee_Hook_Rec RT": "no",
        "Punch_Cross RT": "punch",
        "Idle_Lantern_Loop RT": "idle_shoot",
        "Walk_Loop RT": "walk",
    },
    animation_bindings: {
        "jump_land": "jump_land",
        "walk": "walk",
        "walk_shoot": "walk_shoot",
        "run_gun": "run_gun",
        "death": "death",
        "punch": "punch",
        "yes": "yes",
        "hitreact": "hitreact",
        "wave": "wave",
        "run": "run",
        "idle": "idle",
        "throwing": "throwing",
        "no": "no",
        "jump_idle": "jump_idle",
        "jump": "jump",
        "idle_shoot": "idle_shoot",
        "building": "building",
    },
    animation_sources: [],
    attachments: [],
    hardpoints: {
        "grip": (
            anchor: Some("mixamorigRightHandMiddle4"),
            translation: (1.8000002, -1.0, -3.5),
            rotation_euler_deg: (0.0, 180.0, 270.0),
        ),
    },
)