(
    model_path: "packs/guns/rifles/Assault Rifle.glb",
    scale: 0.125,
    model_type: Weapon((
        hands: TwoHanded,
        damage: 50,
        fire_rate_per_minute: 300.0,
        range: 80.0,
        spread_deg: 1.5,
        pellets: 1,
        auto: true,
    )),
    hidden_nodes: [],
    animation_mapping: {},
    clip_tags: {},
    animation_bindings: {},
    animation_sources: [],
    attachments: [],
    hardpoints: {
        "grip": (
            anchor: None,
            translation: (0.0, 0.0, 0.0),
            rotation_euler_deg: (0.0, 0.0, 0.0),
        ),
        "foregrip": (
            anchor: None,
            translation: (2.0, 0.39999998, 0.0),
            rotation_euler_deg: (0.0, 0.0, 0.0),
        ),
        "muzzle": (
            anchor: None,
            translation: (3.7499998, 0.55, 0.0),
            rotation_euler_deg: (0.0, 0.0, 0.0),
        ),
    },
    aim_bones: [],
)