(
    model_path: "packs/toon-shooter/characters/Character Hazmat.glb",
    scale: 0.7727737,
    model_type: Player((
        ability: Bombardment,
        throw_rate_per_minute: 60.0,
    )),
    hidden_nodes: [
        "Knife_1",
        "Revolver_Small",
        "Knife_2",
        "Revolver",
        "Shovel",
        "SMG",
        "ShortCannon",
        "Pistol",
        "RocketLauncher",
        "Sniper_2",
        "Shotgun",
        "GrenadeLauncher",
        "Sniper",
        "AK",
    ],
    animation_mapping: {
        "jump_idle": "CharacterArmature|Jump_Idle",
        "idle_shoot": "CharacterArmature|Idle_Shoot",
        "jump": "CharacterArmature|Jump",
        "yes": "CharacterArmature|Yes",
        "hitreact": "CharacterArmature|HitReact",
        "punch": "CharacterArmature|Punch",
        "run": "CharacterArmature|Run",
        "no": "CharacterArmature|No",
        "wave": "CharacterArmature|Wave",
        "idle": "CharacterArmature|Idle",
        "building": "CharacterArmature|Idle",
        "walk_shoot": "CharacterArmature|Walk_Shoot",
        "jump_land": "CharacterArmature|Jump_Land",
        "death": "CharacterArmature|Death",
        "walk": "CharacterArmature|Walk",
        "run_gun": "CharacterArmature|Run_Gun",
        "throwing": "CharacterArmature|Punch",
    },
    animation_sources: [],
)