(
    model_path: "packs/monsters/Demon-LnfIziKv4o.glb",
    scale: 5.449333,
    model_type: Enemy((
        health: 100.0,
        speed: 2.0,
        coin_drop: 5,
    )),
    hidden_nodes: [],
    animation_mapping: {
        "death": "CharacterArmature|Death",
    },
    animation_sources: [],
)