(
    model_path: "packs/mesh2motion/Pistol.glb",
    scale: 1.7218288,
    model_type: Weapon((
        hands: OneHanded,
        damage: 20,
        fire_rate_per_minute: 300.0,
        range: 40.0,
        spread_deg: 1.5,
        pellets: 1,
        auto: false,
    )),
    hidden_nodes: [],
    animation_mapping: {},
    clip_tags: {},
    animation_bindings: {},
    animation_sources: [],
    attachments: [],
    hardpoints: {
        "grip": (
            anchor: None,
            translation: (0.0, 0.0, 0.0),
            rotation_euler_deg: (0.0, 0.0, 0.0),
        ),
        "foregrip": (
            anchor: None,
            translation: (1.0000005, 0.29999995, 0.0),
            rotation_euler_deg: (0.0, 0.0, 0.0),
        ),
        "muzzle": (
            anchor: None,
            translation: (1.5, 0.5, 0.0),
            rotation_euler_deg: (0.0, 0.0, 0.0),
        ),
    },
    aim_bones: [],
)