(
    model_path: "packs/mesh2motion/Pistol.glb",
    scale: 0.17218262,
    model_type: Weapon((
        hands: OneHanded,
    )),
    hidden_nodes: [],
    animation_mapping: {},
    clip_tags: {
        "Death01 RT": "death",
        "Pistol_Idle_Loop RT": "run_gun",
        "Victory RT": "walk_shoot",
        "Interact RT": "building",
        "Punch_Cross RT": "punch",
        "Jump_Loop RT": "jump",
        "OverhandThrow RT": "throwing",
        "Jump_Land RT": "jump_land",
        "Jump_Start RT": "jump_idle",
        "Idle_Loop RT": "idle",
        "Yes RT": "yes",
        "Greeting RT": "wave",
        "Walk_Loop RT": "walk",
        "Melee_Hook_Rec RT": "no",
        "Run Anime RT": "run",
        "Hit_Chest RT": "hitreact",
        "Idle_Lantern_Loop RT": "idle_shoot",
    },
    animation_bindings: {
        "no": "no",
        "walk": "walk",
        "idle_shoot": "idle_shoot",
        "building": "building",
        "walk_shoot": "walk_shoot",
        "jump": "jump",
        "yes": "yes",
        "idle": "idle",
        "wave": "wave",
        "death": "death",
        "throwing": "throwing",
        "jump_idle": "jump_idle",
        "run_gun": "run_gun",
        "jump_land": "jump_land",
        "hitreact": "hitreact",
        "punch": "punch",
        "run": "run",
    },
    animation_sources: [],
    attachments: [],
    hardpoints: {
        "grip": (
            anchor: None,
            translation: (0.0, 0.0, 0.0),
            rotation_euler_deg: (0.0, 0.0, 0.0),
        ),
        "foregrip": (
            anchor: Some("mixamorigHead"),
            translation: (0.0, 0.0, 0.0),
            rotation_euler_deg: (0.0, 0.0, 0.0),
        ),
    },
)