(
    model_path: "packs/kay/dungeon/animations/Rig_Medium_General.glb",
    scale: 0.83410674,
    model_type: Player((
        ability: Bombardment,
    )),
    hidden_nodes: [],
    animation_mapping: {
        "idle": "Rig_Medium_General|Idle_A",
    },
    animation_sources: [
        "packs/kay/dungeon/animations/Rig_Medium_General.glb",
    ],
)