(
    model_path: "packs/mesh2motion/swat-2.glb",
    scale: 1.455408,
    model_type: Player((
        ability: Bombardment,
        throw_rate_per_minute: 60.0,
        weapon: Some("assets/defs/Pistol.ron"),
    )),
    hidden_nodes: [],
    animation_mapping: {},
    clip_tags: {
        "Pistol_Shoot": "Combat/IdleShoot",
        "Interact": "Action/Interact",
        "Greeting": "Social/Wave",
        "Reject": "Social/No",
        "Walk": "Locomotion/Walk",
        "Death_A": "Reaction/Death",
        "Crouch_Idle": "Locomotion/Crouch",
        "Walk_Carry": "Combat/WalkShoot",
        "Jump_2": "Airborne/Jump",
        "Yes": "Social/Yes",
        "Jump_air": "Airborne/InAir",
        "Run_Stealth": "Combat/RunShoot",
        "Jog": "Locomotion/Run",
        "Idle_A": "Locomotion/Idle",
        "Jump_Land": "Airborne/Land",
        "OverhandThrow": "Action/Throw",
        "Hit_Chest": "Reaction/Hit",
    },
    animation_bindings: {
        "yes": "Social/Yes",
        "run_shoot": "Combat/RunShoot",
        "run_gun": "Combat/RunShoot",
        "run": "Locomotion/Run",
        "interact": "Action/Interact",
        "hitreact": "Reaction/Hit",
        "duck": "Locomotion/Crouch",
        "wave": "Social/Wave",
        "death": "Reaction/Death",
        "jump": "Airborne/Jump",
        "jump_land": "Airborne/Land",
        "idle_shoot": "Combat/IdleShoot",
        "idle": "Locomotion/Idle",
        "jump_idle": "Airborne/InAir",
        "punch": "Action/Throw",
        "walk": "Locomotion/Walk",
        "no": "Social/No",
        "walk_shoot": "Combat/WalkShoot",
    },
    animation_sources: [],
    attachments: [],
    hardpoints: {
        "foregrip": (
            anchor: Some("index_02_l"),
            translation: (0.0, 0.0, 0.0),
            rotation_euler_deg: (0.0, 0.0, 0.0),
        ),
        "stock": (
            anchor: Some("upperarm_r"),
            translation: (0.0, 0.0, 0.0),
            rotation_euler_deg: (0.0, 0.0, 0.0),
        ),
        "grip": (
            anchor: Some("thumb_02_r"),
            translation: (0.0, 0.0, 0.0),
            rotation_euler_deg: (225.0, 110.0, 0.0),
        ),
    },
    aim_bones: [
        (
            bone: "spine_01",
            weight: 0.2,
        ),
        (
            bone: "spine_02",
            weight: 0.35,
        ),
        (
            bone: "spine_03",
            weight: 0.45,
        ),
    ],
)